- header "Listing pages"

%table.organizable
  %thead
    %tr
      %th.title Title
      %th Published
      %th{ :colspan => 3 }
  
  %tbody.me
    = render :partial => "admin/pages/item", :collection => @pages, :as => :page

%br
= link_to 'New page', new_admin_page_path
