.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
.field label {
  display:block;
}

.lance {
  height: 1.5em;
  line-height: 1.2em;
}

tr.even {
  background-color: #EAEAEA;
}

pre {
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  margin:10;
}

textarea.description {
  width:100%;
  height:50px;
}

.level-1 {
  padding-left:30px;
}
table .level-2 {
  padding-left:60px;
}
table .level-3 {
  padding-left:90px;
}
table .level-4 {
  padding-left:120px;
}
th.title {
  width:100%;
}