#authorbox
  %img.avatar.avatar-100.photo{:alt => "", :height => "100", :src => "http://www.gravatar.com/avatar/4d4fa2b9ac443393f1fa8ad10eed534b?s=100&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D100&r=G", :width => "100"}/
  %div
    %h3 About the author
    %p
      %strong My Name!
      \- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales nibh a orci varius tincidunt. Ut sodales porttitor iaculis.