%li.comment.even
  .comment-body
    .avatars
      %img.avatar.photo{:alt => "", :height => "70", :src => "http://www.gravatar.com/avatar/fc9ed144130da2e9b3a8ee2b8976ec34?s=70&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&r=G", :width => "70"}/
    .comment-meta
      %a.comment-reply-link{:href => "/", :onclick => "return addComment.moveForm(\"comment-5\", \"5\", \"respond\", \"213\")", :rel => "nofollow"} Reply
      %cite.fn Andy
      %a.comment-date{:href => "/#comment-5"} Posted May 6, 2010 at 7:16 pm
    %p Ty! Very helpful article!