.footer
  .wrap
    %p
      © 2010 Martini. All rights reserved.
    .menu
      %ul.sf-menu
        %li
          %a{:href => "", :title => "Home"} Home
        %li.page_item
          %a{:href => "about/", :title => "About"} About
        %li.page_item
          %a{:href => "contacts/", :title => "Contacts"} Contacts