.header
  .wrap
    = render :partial => "shared/logo"
    = render :partial => respond_to?(:menu_partial) ? menu_partial : "shared/menu"
.page_title
  .page_title_inner
    .wrap
      = yield :header