#linkcat-2.widget.widget_links
  %h3 Blogroll
  %ul.xoxo.blogroll
    %li
      %a{:href => "/development/"} Development Blog
    %li
      %a{:href => "/"} Documentation
    %li
      %a{:href => "/extend/plugins/"} Plugins
    %li
      %a{:href => "/extend/ideas/"} Suggest Ideas
    %li
      %a{:href => "/support/"} Support Forum