.widget.scg_widget.Blog.widget_meta
  %h3.widgettitle Meta
  %ul
    %li
      %a{:href => "/login"} Log in
    %li
      %a{:href => "/feed", :title => "Syndicate this site using RSS 2.0"}
        Entries
        %abbr{:title => "Really Simple Syndication"} RSS