%li
  %a{:href => "/post", :title => "Batman Trips Through Time"}
    %img.small_thumb{:alt => "Batman Trips Through Time", :height => "70", :src => "/images/fill.png", :width => "70"}/
  %a.thumbnail_title{:href => "/post", :rel => "bookmark"} Batman Trips Through Time
  May 6, 2010