%h3 Connects
%p Stay up to date with the latest ThemeForest files  via Email, RSS, Twitter or Facebook.
%ul.connect
  %li
    %a.twitter{:href => "http://twitter.com", :target => "_blank"}
      %span Twitter
  %li
    %a.email{:href => "mailto:support@something.com"}
      %span Email
  %li
    %a.facebook{:href => "http://facebook.com", :target => "_blank"}
      %span Facebook
  %li
    %a.rss{:href => "/feed/", :target => "_blank"}
      %span rss