.widget.scg_widget.Blog.widget_tag_cloud
  %h3.widgettitle Tag cloud
  %div
    %a{:href => "/tags/armageddon", :style => "font-size: 8pt;", :title => "1 topic"} armageddon
    %a{:href => "/tags/business", :style => "font-size: 8pt;", :title => "1 topic"} business
    %a{:href => "/tags/costume", :style => "font-size: 8pt;", :title => "1 topic"} costume
    %a{:href => "/tags/deadline", :style => "font-size: 8pt;", :title => "1 topic"} deadline
    %a{:href => "/tags/fashion", :style => "font-size: 13.25pt;", :title => "2 topics"} fashion
    %a{:href => "/tags/hot", :style => "font-size: 13.25pt;", :title => "2 topics"} hot
    %a{:href => "/tags/look", :style => "font-size: 8pt;", :title => "1 topic"} look
    %a{:href => "/tags/love", :style => "font-size: 8pt;", :title => "1 topic"} love
    %a{:href => "/tags/man", :style => "font-size: 8pt;", :title => "1 topic"} man
    %a{:href => "/tags/mannequin", :style => "font-size: 8pt;", :title => "1 topic"} mannequin
    %a{:href => "/tags/mojito", :style => "font-size: 8pt;", :title => "1 topic"} mojito
    %a{:href => "/tags/myself", :style => "font-size: 8pt;", :title => "1 topic"} myself
    %a{:href => "/tags/services", :style => "font-size: 8pt;", :title => "1 topic"} services
    %a{:href => "/tags/sky", :style => "font-size: 8pt;", :title => "1 topic"} sky
    %a{:href => "", :style => "font-size: 13.25pt;", :title => "2 topics"} text only
    %a{:href => "", :style => "font-size: 22pt;", :title => "5 topics"} with image
    %a{:href => "/tags/woman", :style => "font-size: 13.25pt;", :title => "2 topics"} woman