.wrap
  .col3
    %h3 Something
    %p Something
    %p
      %a.learnmore{:href => "/pages"}
        %span learn more
  .col3
    %h3 Something
    %p Something
    %p
      %a.learnmore{:href => "/skins"}
        %span learn more
  .col3
    %h3 Something
    %p
      Something
    %p
      %a.learnmore{:href => "/features/admin-panel"}
        %span learn more