.slideshow
  %div
    .pic.full
      %a{:href => "/"}
        %img.alignnone.size-full{:alt => "slide3", :height => "295", :src => "/", :title => "slide3", :width => "926"}/
  %div
    .pic.small
      %a{:href => "/"}
        %img.alignnone.size-full{:alt => "slide2", :height => "295", :src => "/", :title => "slide2", :width => "660"}/
    .descr.bold
      %h2 Something
      %p Really cool text
      %p
        %a.slide_button{:href => "/"}
          Start
          %br/
          Experience
  %div
    .descr.bold
      %h2 Another
      %p Even more text!
      %p
        %a.slide_button{:href => "/"} Start Experience
    .pic.small
      %a{:href => "/about"}
        %img.alignnone.size-full{:alt => "slide1", :height => "295", :src => "/", :title => "slide1", :width => "660"}/