.post.hentry.col3.portfolio_small_item
  .entry-content
    .portfolio_thumb
      %a.thumb{:href => "http://vimeo.com/11486791", :rel => "lightbox", :title => "Vimeo content"}
        %img{:alt => "", :height => "85", :src => "/", :width => "199"}/
      %a.link{:href => "/vimeo-content/", :title => "Vimeo content"} view project
    %h2.entry-title
      %a{:href => "/vimeo-content/", :rel => "bookmark", :title => "Permalink to Vimeo content"} Vimeo content
    %p Inceptos himenaeos. Suspendisse potenti. Vivamus placerat gravida ligula, eget pelle