- form_for(:configuration, :url => admin_configuration_path(@configuration)) do |f|
  = f.error_messages
  
  .field
    = f.label :show_avatars
    = f.check_box :prefers_show_avatars
  .actions
    = f.submit
